@font-face {
    font-family: 'Coolvetica Compressed';
    font-style: normal;
    font-weight: normal;
    src: local('Coolvetica Compressed Regular'), url('coolvetica compressed rg.woff') format('woff');
}


@font-face {
    font-family: 'Coolvetica Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Coolvetica Condensed Regular'), url('coolvetica condensed rg.woff') format('woff');
}


@font-face {
    font-family: 'Coolvetica Crammed';
    font-style: normal;
    font-weight: normal;
    src: local('Coolvetica Crammed Regular'), url('coolvetica crammed rg.woff') format('woff');
}


@font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Coolvetica Regular'), url('coolvetica rg.woff') format('woff');
}


@font-face {
    font-family: 'Coolvetica Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Coolvetica Regular Italic'), url('coolvetica rg it.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope'),
         url('Manrope-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 25% 151%;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: local('Nunito Sans'),
         url('NunitoSans_Variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 25% 151%;
    font-display: swap;
}
