.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.gradient {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: -50px;
	background: linear-gradient(to bottom, transparent, white);
}