/* ------------ */
/* HERO SECTION */
/* ------------ */

#hero {
	background-color: black;
	width: 100vw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

#hero .h1, #hero .h2 {
	color: white;
	z-index: 20;
}

#hero .h1 {
	font-size: 15vw;
	font-family: "Coolvetica";
}

#hero .h2 {
	font-size: 11vw;
	opacity: .8;
}

#hero .h2.i {
	font-family: "Coolvetica Italic";
	margin-top: auto;
}

#hero div {
	display: flex;
	flex-direction: row;
	gap: 2vw;
	align-items: center;
}

@media (min-width: 965px) {
	#hero .h1 {
		font-size: 145px;
	}

	#hero .h2 {
		font-size: 105px;
	}

	#hero div {
		gap: 20px;
	}
}

.transition {
	position: absolute;
	background: transparent;
	bottom: 0;
}

/* ------------- */
/* ABOUT SECTION */
/* ------------- */

#about {
	width: 100%;
	background-color: white;
	height: 500px;
}
