section {
	position: relative;
}

/* ------------ */
/* HERO SECTION */
/* ------------ */

#hero {
	--hero-font-color: #ffffff;

    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	padding-top: env(safe-area-inset-top);
    min-height: -webkit-fill-available;
}

#hero .h1, #hero .h2 {
	color: var(--hero-font-color);
	mix-blend-mode: lighten;
	z-index: 20;
}

#hero .h1 {
	font-size: 13.7vw;
	font-family: "Coolvetica";
}

#hero .h2 {
	font-size: 5vw;
	opacity: .8;
}

#hero .h2.i {
	margin-top: auto;
	font-weight: 900;
}

#hero div {
	display: flex;
	flex-direction: row;
	gap: 2vw;
	align-items: center;
}

@media (min-width: 1000px) {
	#hero .h1 {
		font-size: 100px;
	}

	#hero .h2 {
		font-size: 50px;
	}

	#hero div {
		gap: 15px;
	}
}

@media (min-width: 2000px) {
	#hero .h1 {
		font-size: 145px;
	}

	#hero .h2 {
		font-size: 105px;
	}

	#hero div {
		gap: 20px;
	}
}

@media (max-height: 400px) {
	#hero .h2 {
		font-size: 7vw;
	}

	#hero div {
		gap: 2vw;
	}
}

.transition {
	position: absolute;
	background: transparent;
	width: 100dvw;
	bottom: 0;
	padding: 0;
	left: 0;
}

.waves {
	display: block;
	margin-top: 60px;
	width: 100%;
	height: 60px;
	z-index: 5;
	position: absolute;
	bottom: 0;
	top: auto;
}

.wave1 use {
	fill: rgba(255, 255, 255, .1);
	animation: move-forever1 10s linear infinite;
	animation-delay: -2s;
}

.wave2 use {
	fill: rgba(255, 255, 255, .2);
	animation: move-forever2 8s linear infinite;
	animation-delay: -2s;
}

.wave3 use {
	fill: #fff;
	animation: move-forever3 6s linear infinite;
	animation-delay: -2s;
}

/* ------------- */
/* MAIN SECTIONS */
/* ------------- */

.contentWrap section {
	width: 100dvw;
	min-height: 100dvh;
}

/* ------------- */
/* ABOUT SECTION */
/* ------------- */

#about {
	width: 100%;
	background-color: white;
	/* height: fit-content; */
	height: 500px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.mainTitle {
	font-size: 3em;
	font-weight: 700;
}

/* KEYFRAMES */

@keyframes move-forever1 {
	0% {
	  transform: translate(85px, 0%);
	}
	100% {
	  transform: translate(-90px, 0%);
	}
}

@keyframes move-forever2 {
	0% {
	  transform: translate(-90px, 0%);
	}
	100% {
	  transform: translate(85px, 0%);
	}
}

@keyframes move-forever3 {
	0% {
	  transform: translate(-90px, 0%);
	}
	100% {
	  transform: translate(85px, 0%);
	}
}
