/* ------------ */
/* HERO SECTION */
/* ------------ */

#hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	padding-top: env(safe-area-inset-top);
    min-height: -webkit-fill-available;
	position: relative;
}

#hero .h1, #hero .h2 {
	color: white;
	z-index: 20;
}

#hero .h1 {
	font-size: 15vw;
	font-family: "Coolvetica";
}

#hero .h2 {
	font-size: 8vw;
	opacity: .8;
}

#hero .h2.i {
	margin-top: auto;
	position: relative;
	font-weight: 700;
}

#hero .h2.i::after {
	content: '';
	position: absolute;
	background-color: white;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	border-radius: 5px;
	width: 0;
	height: 3px;
	animation: underline 500ms ease-in-out 3s forwards;
}

#hero div {
	display: flex;
	flex-direction: row;
	gap: 2vw;
	align-items: center;
}

@media (min-width: 965px) {
	#hero .h1 {
		font-size: 145px;
	}

	#hero .h2 {
		font-size: 105px;
	}

	#hero div {
		gap: 20px;
	}
}

.transition {
	position: absolute;
	background: transparent;
	width: 100vw;
	bottom: 0;
	padding: 0;
	left: 0;
}

/* ------------- */
/* ABOUT SECTION */
/* ------------- */

#about {
	width: 100%;
	background-color: white;
	height: 500px;
}

/* KEYFRAMES */

@keyframes underline {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}
