#hero {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero>h1 {
  font-size: 12dvw;
}

#hero>h2 i {
  background: rgb(255,70,70);
  background: -moz-radial-gradient(circle, rgba(255,70,70,1) 0%, rgba(255,99,99,1) 33%, rgba(145,94,255,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,70,70,1) 0%, rgba(255,99,99,1) 33%, rgba(145,94,255,1) 100%);
  background: radial-gradient(circle, rgba(255,70,70,1) 0%, rgba(255,99,99,1) 33%, rgba(145,94,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4646",endColorstr="#915eff",GradientType=1);
  background-size: 1000%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient-shift 10s ease-in-out infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
