.customCursor {
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	pointer-events: none;
	mix-blend-mode: exclusion; 
	background: rgba(56, 233, 241, 0.8);
	z-index: 99999; 
	transform: translate(-50%, -50%); 
}

@media (hover: none) and (pointer: coarse) {
	.customCursor {
	  display: none;
	}
}
